body {
  font-family: arial, sans-serif;
}

li {
  display: inline;
  margin: 5px;
  text-decoration: none;
  font-family: arial, sans-serif;
}
.navBar {
    list-style-type: none;
    font-size: 14px;
    margin-top: 10px;
    padding: 0;
    float: right;
    position: relative;
    right: 20px;
    bottom: 15px;
}
.center {
  display: block;
  text-align: center;
  position: relative;
  top: 192px;
}
.function_button {
  border: none;
  height: 35px;
  padding: 10px;
  padding-bottom: 15px;
  background-color: #f2f2f2;
  color: #757575;
  font-weight: bold;
}
.function_button:hover {
  color: black;
  border: 1px solid #bbb7b7;
}

#main_logo {
  padding-bottom: 30px;
  position: relative;
  left: 142px;
}

#text input {
  width: 545px;
  height: 40px;
  border: 1px solid #e6e2e2;
  border-radius: 4px;
}
#voice {
  background: url(Pics/voice_search.png) no-repeat;
  background-size: 21px 25px;
  height: 24px;
  width: 24px;
  position: relative;
  float: right;
  bottom: 32px;
  right: 430px;
}
#offeredIn {
  font-size: 14px;
  font-family: arial, sans-serif;
}
#gmail_acc {
  position: relative;
  top: 8px;
}
#gmail, #images {
  position: relative;
  bottom: 5px;
}
